/* .bg-color{
    background-color: #EEEDEB;
} */

:root{
    background-color: #F3F4F6;
}

.bg-color {
    height: 100vh; /* Full viewport height */
    overflow-y: scroll; /* Enable vertical scrolling */
  }
  
  /* Hide scrollbar for WebKit-based browsers (Chrome, Safari, etc.) */
  .bg-color::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
  }
  
  /* Optional: Hide scrollbar for Firefox */
  .bg-color {
    scrollbar-width: none; 
  }
  
  /* Optional: Hide scrollbar for Internet Explorer and Edge */
  .bg-color {
    -ms-overflow-style: none; 
  }
  